{% put scripts %}
	<script>
		function modval( val ){
			document.getElementById("ans").value = val;
		}
	</script>
{% endput %}


<form data-request="{{ __SELF__ }}::onCompute" 	data-request-success='modval( data.total )' >

	<div class="form-group">

		<label for="num1">Num1</label>

		<input type="number" name="num1" class="form-control" id="num1" placeholder="Number">

	</div>

	<div class="form-group">

		<label for="num2">Num2</label>

		<input type="number" name="num2" class="form-control" id="num2" placeholder="Number">

	</div>
	
	<div class="form-group">

		<label for="ans">Answer</label>

		<input type="number" name="ans" class="form-control" id="ans" placeholder="Number">
		
		<div id="answer"></div>

	</div>

	<button type="submit" class="btn btn-success">Compute</button>

</form>

<div id="myDiv"></div>
